<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="assets/images/img3.jpg" class="img-responsive">
    </div>

    <div class="item">
      <img src="assets/images/img2.jpg" class="img-responsive">
    </div>

    <div class="item">
      <img src="assets/images/img1.jpg" class="img-responsive">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div id="about" class="container text-center">
  <h2>ABOUT <span id="vektor">vektor</span></h2>
  <h3><em>School of Urban Maneuver</em></h3>
  <p class="text-justify">Bacon ipsum dolor amet turkey venison eiusmod ad buffalo pastrami bresaola non sint excepteur. Nulla laboris veniam
    do consequat dolore. Chicken proident short ribs swine lorem cillum drumstick ea shankle. Duis laborum lorem pig picanha
    buffalo cupim proident shank meatloaf pancetta. Eu short ribs shoulder esse tenderloin.</p>
  <p class="text-justify">Ham esse beef ribs, frankfurter salami sed cupim eiusmod et reprehenderit officia duis nisi shankle. Mollit ham hock
    drumstick aliqua excepteur laborum pork belly. Tempor magna flank in elit aute. Sunt pastrami shankle consectetur hamburger,
    rump drumstick. Exercitation est laboris t-bone enim. Minim deserunt id cupim, duis tenderloin beef ut sed turkey cillum.
    Bacon cupim tongue, ipsum non tempor salami pancetta anim est kielbasa quis mollit.</p>
  <p class="text-justify">Spare ribs short ribs consectetur pork chop irure shank pancetta sunt duis jowl shankle in. Pork qui biltong deserunt
    laboris pork chop eu ea. Do sint quis consectetur venison ex pancetta brisket mollit. Quis nostrud aute venison beef
    ribs in, pork loin pork chop tail fatback landjaeger consectetur flank. Doner exercitation esse sirloin cupidatat short
    ribs meatball.</p>
    <br>
</div>

<div class="hovereffect">
  <img src="assets/images/street.jpg" class="img-responsive">
  <div class="overlay">
    <h2>Mission</h2>
    <p>Hone your proficiency in the art and science of Urban Maneuver</p>
    <button id="bttn" [routerLink]="['courses']"class="btn btn-secondary btn-lg">View Courses</button>
  </div>
</div>

<button [routerLink]="['/vektor/support']" id="support_btn"><span class="glyphicon glyphicon-question-sign"></span> Support</button>

