<div class="jumbotron text-center">
  <h1>GET IN TOUCH</h1>
</div>
<div class="container">
  <figure id="figure" class="col-sm-12 col-md-6 noPadding">
    <img id="course" src="assets/images/contact.jpg" class="img-responsive">
  </figure>
  <div class="col-sm-12 col-md-6 pull-left">
    <h3>Email: romell.pineda@gmail.com</h3>
    <h3>LinkedIn: <a href="https://www.linkedin.com/in/romellpineda/">linkedin.com/in/romellpineda</a></h3>

  </div>
</div>

<button [routerLink]="['/vektor/support']" id="support_btn"><span class="glyphicon glyphicon-question-sign"></span> Support</button>
